Outline of system

Country Class:
	Holds:
		Name of Country
		Pop Percent
		Current Vote
		EuroZoneStatus

	Methods:
		ChangeVote(BOOL? VOTE)
		getVote() - returns vote
		getPopPercent(returns pop%)

Main Class:
	Reads class data from JSON file
	Parses JSON file into list of country instantiations

	while loop to ask for changes to the votes
		ask if all countries are participating:
			if true, then go ahead,
			else, create a new array of eurozone only countries

		if input "change vote COUNTRYNAME abstain"
			change vote for countryname to abstain,
			etc etc
|-----------------------------------------------------------|

Qualified Majority Rules

	IF 55% of countries vote Yes, then:
		IF Overall Population > 65%
			Adoption goes forwards
		ELSE:
			Rejected
	ELSE:
		Rejected

Reinforced Qualified Majority Rules
	same as above, alter memberstates percentage to 72%

Simple Majority:

	IF 50% of member states say yes:
		adoption goes forwards
	ELSE:
		rejected

Unanimity:
	100% or bust.


|-----------------------------------------------------------|
